<h1 class="notification is-primary">
  <%= title %>
</h1>

<%= form_for("contact", routes.path(:contact), class: "form-horizontal") do |f| %>
  <div class="field">
    <%= f.label "email", class: "label" %>
    <%= f.email_field "email", value: contact[:email], class: "input" %>
    <%= errors.message(:email) %>
  </div>

  <div class="field">
    <%= f.label "message", class: "label" %>
    <%= f.text_area "message", value: contact[:message], class: "textarea #{'is-danger' if errors[:message]}" %>
    <%= render :form_error, message: errors.message(:email) %>
  </div>

  <div class="field">
    <%= f.submit "Create", class: "button is-link" %>
  </div>
<% end %>
