<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hanamimastery - Main</title>
    <%= favicon_tag %>
    <%= stylesheet_tag "main/app" %>
  </head>
  <body>
    <%= render("top_nav") %>
    <section class="section">
      <div class="container">
        <%= yield %>
      </div>
    </div>
    <%= javascript_tag "main/app" %>
  </body>
</html>
